@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);

    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

img {
    vertical-align: bottom;
}

header {
    position: fixed;
    width: 100%;
    height: 6em;
    background: white;
}

header nav {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input,
nav #close-btn,
nav ul {
    display: none;
}

nav input:checked + #burger-btn {
    display: none;
}

nav input:checked ~ #close-btn {
    display: block;
}

nav input:checked ~ ul {
    display: block;
    list-style: none;
    position: absolute;
    right: 0;
    top: 6em;
    width: 100vw;
    height: 100vh;
    background-color: var(--Very-Dark-Violet);
    background-image: url(./images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 85%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

nav ul li:last-child a {
    width: 90%;
    margin: 2em auto;
    padding: .6em 0;
    border: 1.5px solid white;
}

#hero {
    color: white;
    background-color: var(--Dark-Violet);
    text-align: center;
    background-image: url(./images/bg-pattern-intro-left-mobile.svg), url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0 58%, 100% 123%;
}

#hero img {
    width: 100%;
    margin-top: 6em;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
}

#hero p {
    font-size: 1rem;
    font-weight: 400;
    width: 85%;
    margin: 1em auto 2em;
    line-height: 1.8em;
    color: var(--Very-Light-Gray);
}

#hero button {
    cursor: pointer;
    border: 1.5px solid white;
    background-color: transparent;
    color: white;
    padding: .8em 2.4em;
    margin-bottom: 8em;
    font-size: .8rem;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.bg-pattern {
    position: relative;
}

.bg-pattern::after {
    content: " ";
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    background-image: url(./images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: 100% -200%;
    z-index: -1;
}

#about {
    text-align: center;
}

#about div h1 {
    font-size: 3rem;
    margin-top: 3.6em;
    margin-bottom: 2em;
    position: relative;
}

#about div h1::before {
    content: "";
    width: 43%;
    position: absolute;
    top: -70%;
    left: 30%;
    border-bottom: 1px solid var(--Dark-Grayish-Violet);
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: bolder;
}
